
.product-card {
    flex-wrap: wrap;
    background: #fafafa;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;

}
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
 width: 100%;
height: 100%;
}

.product-details {
    padding: 30px;
    margin-bottom: 10px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-details p {
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    cursor:pointer ;
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}
.singleitem{
    display:flex ; 
    flex-direction: column;
    background-color: red;
}